.position-relative {
    position: relative;
}
 
.position-absolute {
    position: absolute;
}
 
.translate-middle-y {
   
    transform: translateY(-50%);
}
.password-input-container {
    position: relative; 
}
 
.password-toggle-icon {
    position: absolute;
    padding-top: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d; 
}
 
.me-3 {
    margin-right: 1rem;
 
 
}
 