
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
body {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  font-family: 'Poppins', sans-serif;
} */

body {
  background: linear-gradient(to right, #2c3e50, #34495e); /* Dark blue gradient */
  font-family: 'Poppins', sans-serif;
  color: #ecf0f1; /* Light text for contrast */
}

.header-nav {
  background-color: #ecf0f1; /* Light grey for strong contrast */
  color: #2c3e50; /* Dark text for readability */
}

.navbar-brand, .nav-link {
  color: #2c3e50 !important;
   /* Ensure the navbar text is readable */
   font-weight: 800;
}





.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 60px; /* Adjust this value based on your footer height */
}

.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  background-color:#ecf0f1 !important; 
  color: #4A2F27;
  padding: 20px;
}

